.nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-content: center;

}

.logo {
    color: #fff;
    font-size: 30px;

    text-decoration: none;
}

.nav-menu {
    display: flex;
    list-style: none;

}




.toggle {
    border: none;
    background: none;
    cursor: pointer;
    display: none;

}

.toggle .bx-menu-alt-right {
    font-size: 30px;
}




.nav-item a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-left: 37px;
    font-size: 20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.nav-item a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fff;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-menu a:hover:before,
.header .nav-menu a:focus:before,
header .nav-menu a:active:before {
    right: 0;
}

.toggle {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
}




@media (max-width: 768px) {


    .logo {
        font-size: 20px;
        line-height: 60px;
        margin-left: 10px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        position: fixed;
        background: linear-gradient(63deg, rgba(15, 23, 42, 1) 46%, rgba(14, 10, 85, 1) 100%);
        left: 0;
        top: 95px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        z-index: 1;
    }

    .nav-item {
        line-height: 70px;
        display: block;

        width: 100%;
    }

    .nav-item a {
        color: #fff;
        font-size: 20px;
    }

    .toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-menu-visible {
        left: 0;
    }
}





.about .about-text h2 {
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 700;
}


.about .about-text a {
    background: #D21717;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.about .about-text a:hover {
    background: #ffffff;
    color: #000;
}



.about .about-text a .bx {
    font-size: 20px;

}


.content-logo img {
    width: 25rem;
    
}

.social a {
    font-size: 50px;
    transition: all .2s ease-in-out;

}


.social a:hover {
    color: #fff;
}


/* perfil */



.about-card{
   /*  background: #612525; */
   background: linear-gradient(47deg, rgba(13,0,0,1) 0%, rgba(130,3,3,1) 44%, rgba(212,6,6,1) 100%);
    border-radius: 1%;
    color: white;
    display: grid;
    grid-template-rows: auto;
    height: 200px;
  
    box-shadow: 0px 0px 6px 4px #D21717;
}
.about-card .header-card{
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-card .header-card span{
    font-size: 5rem;
    font-weight: 900;
}

.about-card .body-card{
    display: flex;
    justify-content: center;
    align-items: center;
}








/* seccion de skills  */

.tecnology {
    background: #fff;
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 3px 2px 2px #D21717;
}




/* seccion de proyectos  */

.btn-more .btn-link{
    color: white;
    background: #D21717;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    transition: all .2s ease-in-out;

}
.btn-link:hover{
    background: #ffffff;
    color: #000;
    
}


.card {
    border-radius: 1%;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px #1707f3;

}

.card:hover {
    box-shadow: 2px 0px 5px 0px #1707f3;
}



.card-img {
    max-height: 300px;
    overflow: hidden;
}

.card-img img {
    overflow: hidden;
    opacity: 1;
    transition: all 1000ms;
}

.card-img img:hover {
    transform: scale(1.1);
    filter: brightness(.5);
}

.card-text {
    height: 17rem;
    overflow: hidden;
}

.card-text h2 .type {
    font-size: 10px;
    padding: 5px;
    border-radius: 10%;
    border: 1px solid rgb(102, 101, 101);
    margin-right: 40px;
    color: rgb(189, 183, 183);
    bottom: 6px;
    position: relative;
    cursor: pointer;
}

.card-text h2 .type:hover {
    color: #fff;
}

.tec span {
    display: flex;
    padding: 5px;
    border-radius: 100%;
    background: #D21717;
    margin-left: 5px;
    transition: all .2s;
}

.tec span:hover {
    background: #0E0C4E;
}

.tec span:not(:first-child) {
    margin-left: -.5rem;
}

.open_proyect a {
    margin-left: 2px;
}

/* section contact */


.input-item {
    width: 100%;
    padding: 10px;
}

.input-item input{
    padding: 10px;
    background: none;
    border: 1px solid #f8f8f8;
    color: white;
    width: 100%;
    border-radius: 5px;
}

.input-item textarea{
    background: none;
    width: 100%;
    color: white;
    padding: 5px;
    resize: none;
}





.input-btn button{
    background: linear-gradient(47deg, rgba(13,0,0,1) 0%, rgba(130,3,3,1) 44%, rgba(212,6,6,1) 100%);
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.ilustration {
    width: auto;
}

.ilustration img{
    width: 100%;
}



/* section footer */

.footer {
    background: #010122;
}

.footer-logo div{
    background: white;
    padding: 10px;
    border-radius: 50%;
}

.footer img{
    width: 50px;
}

.footer-lema p{
color: #928e8e;
}

.footer-social > .social{
    color: #fcf9f9;
    font-size: 2rem;
    margin: 10px;
}

.footer-copy p{
    color: #928e8e;
    font-size: 15px;
}



@media screen and (max-width: 992px) {
    nav .navigation {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .tecnology {
        width: 4rem;
    }
}